# real data files
laendo.*
lgemri.*

# latex files
*.tex
*.aux
*.out
*.log

# executables 
build_graph*

*~
saxpy.cu
im2gr/jl/notes.md

# eclipse files
.cproject
.project
.settings/

# vim files
*.swp
