# real data files
laendo.*
lgemri.*

# latex files
*.tex
*.aux
*.out
*.log

# executables
bin/

*~
saxpy.cu
src/notes.md
src/old
notebooks

# eclipse files
.cproject
.project
.settings/

# vim files
*.swp
